
body{
  background: darksalmon;
}

* {
  box-sizing: border-box;
  /* background: darksalmon; */
}
.header{
  height: 1vh;
  width: auto;
}
.avataar{
  height: 150px;
  width: 150px;
}
.intro { 
	font-family: "Muli", sans-serif;
	background: darksalmon;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	/* margin-top: 40px; */
  text-align: center;
  width: 100%;
}

input {
	width: 50px;
}
#name{
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
}
.line2{
  font-family: 'vollkorn', sans-serif;
  font-size: 40px;
  margin-bottom: 1px;
  margin-top: 10px;
}
.line3{
  font-family: 'vollkorn', sans-serif;
  font-size: 30px;
  margin-top: 0px;
}



.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #e9967a; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear 3; 
  margin-top: 250px;
}

@keyframes spin {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(360deg); }
}