
body{
  background: #ffe8d6;
}
html{
	scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  /* background: darksalmon; */
}

																	/* <<<<<<<<<<<<<             HEADER             >>>>>>>>>>>>>>>>>>>> */
/* .header{
  height: 1vh;
  width: auto;
} */
.avataar{
  height: 150px;
  width: 150px;
}
/* .loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #e9967a;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear 3; 
	margin-top: 250px;
	animation-iteration-count: infinite;
}

@keyframes spin {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(360deg); }
} */


.intro { 
	font-family: "Muli", sans-serif;
	/* background: darksalmon; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* height: 100vh; */
	/* margin-top: 40px; */
  text-align: center;
  /* width: 100%; */
}


input {
	width: 50px;
}
#myname{
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
}
.line2{ 
  font-family: 'vollkorn', sans-serif;
  font-size: 40px;
  margin-bottom: 1px;
  margin-top: 10px;
}
.line3{
  font-family: 'vollkorn', sans-serif;
  font-size: 30px;
  margin-top: 0px;
}

.row-nav{
	display: flex;
	
}
.row-nav ul li{
	color: darkgoldenrod;
	
}
.main-nav{
	/* float: right;                                        ????????? */
	list-style: none;
	/* display: flex; */
}
.main-nav li{
	display: inline-block;
	/* margin-left: 30px; */
	margin-right: 60px ;
	margin-top: 25px ;
}

.main-nav li a:link,
.main-nav li a:visited{
	padding: 8px 0;
	color: darkgoldenrod;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 2px solid #38aaa4;
}

                              /* <<<<<<<<<<<<<<     ABOUT-ME        >>>>>>>>>>>>>>>>>>>>>> */
.about{
	display: flex;
	width: 100%;
}
.about-pic{
	width: 20px;
	height: 35px;
	margin-left: 50px;
	padding-left: 40px;
	margin-top: 30px;
}
.about-img{
	border-radius: 190px;
	margin-left: 30px;
	margin-top: 20px;
}


.about-txt{
	width: 70%;
	margin-left: 350px;
	margin-top: 30px;
	width: 60%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 20px;
	font-weight: 10;
}



																			/*///////////////// PORTFOLIO //////////////////*/


.calculator, .carpet, .tictactoe{
  display: flex;
}
.calc-txt, .carpet-txt, .tictactoe-txt{
  width: 40%;
  height: 40PX;
  padding: 20px;
	margin-left: 190px;
	/* margin-top: 100px; */
}
.ul-calculator{
	margin-top: 80px;
}
.ul-carpet{
	margin-top: 50px;
}
.ul-tictactoe{
	margin-top: 70px;
}
.ul-tictactoe, h3{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: darkgoldenrod;
	font-size: 22px;
}
.ul-tictactoe, li{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(83, 62, 7);
	font-size: 18px;
	line-height: 30px;
}
.calc-img{
	width: 320px;
    height: 440PX;
    padding: 20px;
    margin-left: 390px;
		border-radius: 35px;
		margin-bottom: 70px;

}
.carpet-img {
    width: 490px;
    height: 350PX;
    padding: 20px;
    margin-left: 90px;
		border-radius: 35px;
		margin-bottom: 70px;
	} 
	.tictactoe-img{
		width: 420px;
    height: 420PX;
    padding: 20px;
		margin-left: 50px;
		margin-bottom: 70px;
    /* border-radius: 35px; */
	}
  .portfolio{
		margin-top: 20px;
		/* border-bottom: 3px solid #614123; */
		/* border-top: 3px solid #614123; */
	
	}
	.calculator{
		background-color: #f7e1d2;
	}
	.carpet{
		background-color: #f7dbc9;
	}
	.tictactoe{
		background-color: #eccfbc;
	}

														/*///////////////// FOOTER //////////////////*/
	.footer{
		background-color: #ffe8d6;
		}
.footer .contact{
    text-align: center;
    font-size: 25px;
    font-size: 30px;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .footer .contact-txt{
    text-align: center;
    font-size: 25px;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

.main{
  width:100%;
	padding-top:30px;
}
.form{
  background-color:#797470;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 750px;
	float: left;
	left: 43%;
	position: absolute;
	margin-left: -260px;
}

.form-name{
  opacity:1;
	color:#D17D5B;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight:400;
	font-size: 5px;
	border-radius: 3px;
	line-height: 22px;
	background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
  box-sizing: border-box;
}
.form-name:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #cb997e;
	color: #cb997e;
	outline: none;
  padding: 13px 13px 13px 54px;
}
.focused{
	color:#D17D5B;
	border:#D17D5B solid 3px;
}




.form-mail{
  opacity:0.9;
	color:#D17D5B;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.form-mail:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #D17D5B;
	color: #D17D5B;
	outline: none;
  padding: 13px 13px 13px 54px;
}
.focused{
	color:#D17D5B;
	border:#D17D5B solid 3px;
}

.form-msg{
  opacity:0.9;
	color:#D17D5B;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 132px;
	background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.form-msg:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #D17D5B;
	color: #D17D5B;
	outline: none;
  padding: 13px 13px 13px 54px;
}
.focused{
	color:#D17D5B;
	border:#D17D5B solid 3px;
}



#name, #email, #message {
  font-size: 18px;
}

#btn-send{
  font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #D17D5B;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #D17D5B;
}
	
.submit:hover {
	color: #D17D5B;
}


/* @media only screen and (max-width: 580px) {
	.form{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
  } */



